[client]
host=localhost
user=root
password=********
default-character-set   = utf8

[mysql]
pager=/usr/bin/less -niSFX


[mysqld]
character-set-server    = utf8
default-character-set   = utf8
log=/var/www/logs/mysql/query.log
log_error=/var/www/logs/mysql/error.log
log-slow-queries=/var/www/logs/mysql/slow_query_and_no_index.log
long_query_time=0.1
#log_queries_not_using_indexes=true
